<!DOCTYPE html>
{% load static from staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>Title of the document</title>
		<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
	</head>


	<body background="{% static 'img/brickCopy.jpg' %}">
		<div class="main">
			<p>hello, i am</p>
			<p>brianna holt</p>
			<h1>I MAKE THINGS</h1>
			<p>in Midtown, Sacramento</p>
			<div class="triplet">
				<h3>WEB DESIGN</h3>
				<h3>PRINT</h3>
				<h3>STYLING</h3>
			</div>
			<p>PLEASE ENJOY!</p>
		</div>
	</body>

</html>
