body { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #00ff00;
	color: #ffffff;
}

.main {
	text-align: center;
}

.triplet h3 {
	display: inline-block;
}